//
// Copyright (c) Microsoft Corporation.  All rights reserved.
//
//
// Use of this source code is subject to the terms of the Microsoft end-user
// license agreement (EULA) under which you licensed this SOFTWARE PRODUCT.
// If you did not accept the terms of the EULA, you are not authorized to use
// this source code. For a copy of the EULA, please see the LICENSE.RTF on your
// install media.
//
#include "windows.h"
#include "dmacnect.h"

STRINGTABLE DISCARDABLE
BEGIN
    SOCKET_FRIENDLY_NAME    "Serial over DMA"
    IDS_DEFAULT_NAME        "`DMA Default"
    IDS_DMACNECT_LINK       "\\Windows\\Startup\\DMAcnect.lnk"
END

